spring:
  application:
    name: argon2-auth

  datasource:
    url: jdbc:postgresql://localhost:5432/argon_auth
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update


  main:
    allow-bean-definition-overriding: true